/// Default color variables

$accent-color: #9400f7;
$heading-color: #ffffff;
$text-color: #000000;

$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;